Source: libapache2-mod-authz-user-override
Maintainer: carrvo  <carrvo@gmail.com>
Uploaders: carrvo <carrvo@gmail.com>
Section: httpd
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13),
    apache2-api-20120211,
    apache2-dev,
    dh-apache2
Homepage: https://github.com/carrvo/libapache2-mod-authz-user-override
Vcs-Browser: https://github.com/carrvo/libapache2-mod-authz-user-override
Vcs-Git: https://github.com/carrvo/libapache2-mod-authz-user-override

Package: libapache2-mod-authz-user-override
Architecture: amd64
Depends: ${misc:Depends}
Suggests: subversion, libapache2-mod-svn
Homepage: https://github.com/carrvo/libapache2-mod-authz-user-override
Description: This is a module to use SVN properties for Authorization (Authz) purposes,
 instead of the default access file.
 .
 By choosing to do it this way, you can have
 versioned fine-grained access control
 managed by the creator of the file,
 just like you would with a real filesystem!
